
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "Manrope-Regular";
    src: url("fonts/Manrope/static/Manrope-Regular.ttf");
}

@font-face {
    font-family: "Anticva";
    src: url("fonts/Anticva/Anticva-Regular.otf");
}

p {
    font-family: "Manrope-Regular";
    margin-bottom: 0 !important;
}
/* body */

body {
    background-color: #f9f0e9 !important;
}

button {
    font-family: "Manrope-Regular";
    font-size: 16px;    
    font-weight: 400;
}

header {
    margin: 0 auto;
    max-width: 1440px;
    height: 1024px;
}

.position {
    position: relative;

}

.header-img {
    position: relative;
}

.header-img img {
    position: absolute;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

.wrapper1440 {
    width: 1440px;
    margin: 0 auto;
}


.img-top {
   left: 435px;
}
.img-left {
    z-index: 0;
top: 245px;
}
.img-right {
    left: 1300px;
    top: 600px;
}

.desctop {}

.header-main {
    font-family: "Manrope-Regular";
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    font-size: 32px;
    align-items: center;
    background-color: #f97349;
    float: left;
    color: #f9f0e9;
    width: 203px;
    height: 140px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.sity {
    display: flex;
    align-items: center;
    color: #303030;
    font-size: 16px;
    margin-right: 33px;
}

.sity img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

/* бургер */
.burger {
    cursor: pointer;
    border: solid 1px #30303007;
    position: relative; 
    width: 68px; 
    height: 44px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: all .5s ease;
}

.burger:hover.burger span  {
    background: #F97349;
}

.burger:hover.burger span:after {
    background: #F97349;
}

.burger:hover.burger span:before {
    background: #F97349;
}

.burger:hover {
    border: solid 1px #F97349;
    transition: all .5s ease;
}

.burger span {
    height: 2px;
    width: 40px;
    position: absolute;
    background: #515758;
    margin: 0 auto;
    transition: all .5s ease;
    
}

.burger span:after {
    content: '';
    height: 2px;
    width: 40px;
    position: absolute;
    background: #515758;
    top: -10px;
    transition: all .5s ease;
}

.burger span:before {
    content: '';
    height: 2px;
    width: 40px;
    position: absolute;
    background: #515758;
    top: 10px;
    transition: all .5s ease;
}
/* active */
/* бургер актив */

.burger.active span {
    height: 0;
    
}


.burger.active span:after {
    top: 0;
    rotate: -45deg;
    transition: all .5s ease;
}

.burger.active span:before {
    rotate: 45deg;
    top: 0px;
    transition: all .5s ease;
}

/* popup-menu */
.popup-desctop {
    position: relative;
}
.popup-menu {
    position: absolute;
    border: 1px solid #30303016;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 474px;
    height: 410px;
    background-color: #f9f0e9;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    right: 0;
    top: -500px;
    transition: all .5s ease;
}

.popup-menu.active {
    right: 0;
    top: 140px;
    transition: all .5s ease;
}

.popup-item1 {
    display: grid;
    margin: 32px 4px 4px 16px;
    width: 217px;
    height: 180px;
    border: 1px solid #30303008;
    border-radius: 12px;
}
.popup-item1 img {
    padding: 16px 0 12px 15px;
}

.popup-item1 p {
    padding: 4px 16px 4px 16px;
}


.popup-item2 {
    display: grid;
    margin: 32px 16px 4px 4px;
    width: 217px;
    height: 180px;
    border: 1px solid #30303008;
    border-radius: 12px;
}

.popup-item2 img {
    padding: 16px 0 12px 15px;
}

.popup-item2 p {
    padding: 4px 16px 4px 16px;
}


.popup-item3 {
    display: grid;
    margin: 4px 4px 32px 16px;
    width: 217px;
    height: 158px;
    border: 1px solid #30303008;
    border-radius: 12px;
}

.popup-item3 img {
    padding: 16px 0 12px 15px;
}

.popup-item3 p {
    padding: 4px 16px 4px 16px;
}

.item-title {
    font-size: 16px;
    color: #303030;
}

.item-txt {
    font-size: 16px;
    color: #30303050;
    margin-bottom: 0px;
}

.item-txt p {
    margin-bottom: 0;
}


    


.header-info {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

.info-txt {
    float: left;
width: 427px;
height: 82px;
}

.info-txt p {
    color: #30303050;
    font-size: 16px;
}

.info-menu {
    float: right;
    font-family: "Manrope-Regular";
    width: 429px;
    height: 309px;
}

.first {
    padding-top: 0;
}

.info-menu ul li {
    line-height: 32.78px;
    border-bottom: 1px solid #f9724936;
    padding: 16px 0;
}

.info-menu a {
    color: #303030;
    text-decoration: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase; 
    
}
.title {
    width: 1320px;
    padding-top: 96px ;
    
}

.title h1 {
    font-family: "Anticva";
    font-size: 105px;
    line-height: 126.21px;

}

.title-color {
    color: #303030;
}

.title-color span {
    color: #f97349;
}

/* форма запроса */

.form {
    position: relative;
    z-index: 10;
    padding: 164px 0;
    background-color: #F9F9F9;
}

.form-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-txt h2 {
    padding: 0 225px;
    text-align: center;
    font-family: "Anticva";
    font-family: Anticva;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color: #303030;
}

.form-txt p {
    text-align: center;
    padding: 48px 310px;
    font-family: "Manrope-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color: rgba(48, 48, 48, 0.50); 
}

.form-main {
    display: grid;
    justify-content: center;
}
.form-main__btn {
    color: #303030;
    text-transform: uppercase;
}

.form-time {
    margin-bottom: 8px;
    font-size: 16px;
    padding: 0 30px;
    background-color: #F9F9F9;
    height: 54px;
    flex-shrink: 0; 
    border-radius: 42px;
    border: 1px solid rgba(48, 48, 48, 0.08); 
}

.form-services {
    margin: 8px 0;
    font-size: 16px;
    padding: 0 30px;
    background-color: #F9F9F9;
    height: 54px;
    flex-shrink: 0; 
    border-radius: 42px;
    border: 1px solid rgba(48, 48, 48, 0.08); 
}
.form-area {
    margin: 8px 0;
    font-size: 16px;
    padding: 0 30px;
    background-color: #F9F9F9;
    height: 54px;
    flex-shrink: 0; 
    border-radius: 42px;
    border: 1px solid rgba(48, 48, 48, 0.08); 
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    -webkit-scrollbar: none;
}

.form-main button {
    margin-top: 8px;
    width: 430px;
    height: 60px;
    flex-shrink: 0; 
    border-radius: 42px;
    border: 1px solid var(--main, #F97349);
    font-family: "Manrope-Regular";
    color: #303030;
    text-align: center; 
    background-color: #F9F9F9; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-main button:hover {
    background-color: #f9724960;
}

.color {
    background-color: #F97349 !important;
    color: #fff !important;
}

.popup, .popup2, .popup3, .popup4{
    position: fixed;
    width: 100%;
    height: 100%;
    font-weight: 400;
    /* background-color: rgba(0, 0, 0, 0.8); */
    top: 0;
    left: 0;
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}
.popup__body {
    max-height: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__active {
    opacity: 1 !important;
    transform: translate(0px, 0px) !important;
    visibility: visible !important;
}
.listUp {
    background-color: #fff;
  color: #000;
  max-width: 1300px;
  padding: 30px 100px;
  position: relative;
  opacity: 0;
  transition: all 0.8s ease 0s;
  transform: translate(0px, -100%);
}

.listUp.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease;
}

.listUp-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;    
    grid-gap: 0 15px;
}

.list-window {
    position: relative;
}

.list-window-navigation {
    
 display: flex;
 justify-content: space-between;
 margin: 0 auto;
}

.window-navigation-prev {
    display: flex;
    cursor: pointer;
    
}

.window-navigation-prev img {
    width: 30px;
    height: 26px;
}

.window-navigation-prev p {
    color: #30303050;
    margin-left: 16px;
}

.window-navigation-next {
    display: flex;
    
    
}

.poopup-categories {
    background-color: #F9F9F9;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 47px;
    right: -10px;
    width: 177px;
    border: 1px solid rgba(48, 48, 48, 0.08);
    border-radius: 12px;
}

.poopup-categories.active {
    display: flex;
}

.catigories-txt p {
    color: #303030;
    font-size: 16px;
    padding: 8px 0;
    margin: 0 16px;
    border-top: 1px solid rgba(48, 48, 48, 0.08);
    border-bottom: 1px solid rgba(48, 48, 48, 0.08);
    cursor: pointer;
}

.catigories-txt p:first-child {
    border: none;
    padding-top: 16px;
    padding-bottom: 8px;
}
.catigories-txt p:last-child {
    border: none;
    padding-top: 8px;
    padding-bottom: 16px;
}

/* .window-navigation-next img {
    width: 18px;
    height: 25px;
} */
.next-categories {
    width: 18px;
    height: 25px;
    rotate: 0deg;
    transition: all .5s ease;
}

.next-categories.rotate {
    rotate: 90deg;
    transition: all .5s ease;
}

.window-navigation-next p {
    margin-right: 16px;
    color: #303030;
}

.list-saloon {
    
    display: flex;
    margin: 32px auto;
}

.saloon-address p {
    font-size: 16px;
    color: #303030;
    text-align: center;
    margin-top: 16px;
}

.saloon-address img {
    width: 207px;
    height: 197px;
}

.list-saloon-time {
    margin-left: 16px;
    width: 320px;
}

.list-saloon-time p {
    font-size: 16px;
    color: #303030;
    font-style: normal;
}

.list-saloon-time span{
    color: rgba(48, 48, 48, 0.50)
}

.saloon-timebtn {
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.saloon-timebtn button {
    margin-top: 16px;
    width: 95px;
    height: 40px;
    background: none;
    border: 1px solid #30303008;
    border-radius: 24px;
    font-size: 16px;
    color: #303030;
}

.saloon-timebtn button:last-child {
    margin-top: 8px;
}

.saloon-price {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.saloon-price p {
    font-size: 16px;
    color: #303030;
}

.saloon-price button {
    width: 139px;
    height: 44px;
    border-radius: 24px;
    background: none;
    border: 1px solid #F97349;
    color: #303030;
    font-size: 16px;
    margin-left: 16px;
}

/* запись */
.record {
    font-family: "Manrope-Regular";
    width: 494px;
    height: 482px;
    border-radius: 42px;
    background-color: #F97349;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    position: relative;
    opacity: 0;
    transition: all 0.8s ease 0s;
    transform: translate(0px, -100%);
}

.record.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease;
}

.record p {
    margin: 0 auto;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    width: 369px;
}

.record-window {
    position: relative;
    margin: 76px 32px;
}

.record-input {
    display: flex;
    flex-direction: column;
}

.record-input input {
    background: none;
    border: none;
    border-bottom: 1px solid;
    color: #ffffff;
    padding: 32px 0 16px 0;
    outline:none;
}

.record-input input::placeholder {
    opacity: 0.5;
    font-weight: 300;
}

.record-btn {
    margin-top: 48px;
    width: 430px;
    height: 60px;
    border: none;
    background-color:#ffffff ;
    border-radius: 42px;
    color: #303030;
    font-size: 16px;
}
.record-name:hover::placeholder {
    opacity: 1;
}
.record-tel:hover::placeholder {
    opacity: 1;

}

.btn-off-record {
    top: -48px;
    right: -6px;
    border: none;
    background: none;
    position: absolute;
}

/* финиш */
.finish {
    font-family: "Manrope-Regular";
    width: 494px;
    height: 482px;
    border-radius: 42px;
    background-color: #F97349;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    position: relative;
    opacity: 0;
    transition: all 0.8s ease 0s;
    transform: translate(0px, -100%);
}

.finish.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease;
}

.finish p {
    margin: 0 auto;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    width: 369px;
}

.finish-window {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 170px;
}

.btn-off-finish {
    top: -139px;
    right: 29px;
    border: none;
    background: none;
    position: absolute;
}

/* календарь */

.calendar-window {
    position: relative;
    font-family: "Manrope-Regular";
    text-align: center;
}

.btn-off {
    position: absolute;
    right: 32px;
    top: -15px;
    background: none;
    padding: 0;
    font-size: 12px;
    width: 28px;
    height: 28px;
    border: none;
    background-color: none;
    cursor: pointer;
}

.btn-off:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.calendar-window h3 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    margin-top: 48px;
}
.calendar {
    position: absolute;
    left: 25%;
    width: 652px;
    height: 848px;
    border-radius: 42px;
    border: 1px solid rgb(48, 48, 48, 0.16);
    visibility: hidden;
    opacity: 0;
    top: -328px;
    background-color: #F9F9F9;
    transition: all 0.5s ease;
}

.calendar.show {
    visibility: visible;
    transition: all 0.5s ease;
    opacity: 1;
}

.calendar-main {
    padding: 20px 0;
    border-radius: 24px;
    border: 1px solid rgba(48, 48, 48, 0.16);
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 430px;
    height: 320px;
}

.prev {
    width: 18px;
    height: 25px;
}

.calender-mounth {
    display: flex;
    justify-content: center;
    
}

.calender_btn__active {
    background-color: #F97349 !important;
}

.mounth {
    margin: 0 172px;
    font-size: 16px;
    color: #303030;
    margin-bottom: 34px;
}

.calendar-week{
    font-family: "Manrope-Regular";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
.calendar-week p {
    margin-bottom: 0;
}

.calendar-days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
   
}

.calendar-time {
    margin-top: 48px;
    
}

.calendar-time p {
font-size: 16px;
color: #303030;
}

.time-button {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin: 0 131px 0 111px;
}

.time-button button {
    width: 126px;
    height: 46px;
    border: #30303008;
    border-radius: 24px;
    background-color: #F9F9F9;
}

.time-button button:last-child {
    margin-top: 8px;
}

.chois-btn {
    margin-top: 48px;
}

.chois-btn button {
    width: 430px;
    height: 60px;
    border: 1px solid #F97349;
    border-radius: 42px;
    background-color: #F9F9F9;
    font-size: 16px;
    color: #303030;
    line-height: normal; 
}

.calendar-days button {
    width: 38px;
    height: 38px; 
    border-radius: 38px;
    font-size: 18px;
    color: #303030;
    border: 1px #30303008 solid;
    background-color: #F9F9F9;
    margin: 8px;
}
.services__select_add {
    color: #f97349 !important;
}
/* сервис */

/* btn-off */

.btn-off-serv {
    background: none;
    border: none;
    position: absolute;
    right: -40px;
    top: -15px;
    background: none;
    padding: 0;
    font-size: 12px;
    width: 28px;
    height: 28px;
    border: none;
    background-color: none;
    cursor: pointer;
    margin-top: 50px;
}

.services-window {
    position: relative;
    font-family: "Manrope-Regular";
    
}


.services {
    font-family: "Manrope-Regular";
    width: 1098px;
    left: 0px;
    top: 0px;
    border: 1px solid rgba(48, 48, 48, 0.16);
    background-color: #f9f9f9;
    border-radius: 42px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    font-family: "Manrope-Regular";
    display: flex;
    justify-content: center;
    border-radius: 42px;
    margin: 50px  auto;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    position: relative;
    opacity: 0;
    transition: all 0.8s ease 0s;
    transform: translate(0px, -100%);
}
.services.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease;
}

.services-menu {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    margin-top: 48px;
}

.services-menu button {
    margin: 0 8px;
    background-color: #F9F9F9;
    border: 1px solid rgba(48, 48, 48, 0.08);
    border-radius: 24px;
    font-size: 16px;
    color: #303030;
}


.services-niles:nth-of-type(1) {
    order: 1;
    /* width: 200px; */
    height: 46px;
    padding: 0 35px;
    cursor: pointer;
}

.services-makeup:nth-of-type(2) {
    order: 2;
    /* width: 144px; */
    padding: 0 48px;
    height: 46px;
    cursor: pointer;
}

.services-permanent:nth-of-type(3) {
    order: 3;
    /* width: 200px; */
    padding: 0 12px;
    height: 46px;
    cursor: pointer;
}

.services-brows:nth-of-type(4) {
    order: 4;
    /* width: 144px; */
    padding: 0 48px;
    height: 46px;
    cursor: pointer;
}

.services-eyelashes:nth-of-type(5) {
    order: 5;
    /* width: 144px; */
    height: 46px;
    cursor: pointer;
    padding: 0 38px;

}

/* кнопки актив */
.services-niles.active:nth-of-type(1) {
    color: #F9F9F9;
    background-color: #F97349;
    order: 0;
}

.services-makeup.active:nth-of-type(2) {
    color: #F9F9F9;
    background-color: #F97349;
    order: 0;
}

.services-permanent.active:nth-of-type(3) {
    color: #F9F9F9;
    background-color: #F97349;
    order: 0;
}

.services-brows.active:nth-of-type(4) {
    color: #F9F9F9;
    background-color: #F97349;
    order: 0;
}

.services-eyelashes.active:nth-of-type(5) {
    color: #F9F9F9;
    background-color: #F97349;
    order: 0;
}

/* сервис опции */
/* ногти */
.services-nails-box {
    height: 1167px;;
    display: none; 
    flex-direction: column;
}

.nails-box-main {
    
    padding: 0 115px;
    margin-top: 48px;
}

.nails-box-main p:first-child {
    padding: 32px 0 16px 0;
    border-top: 1px solid rgba(48, 48, 48, 0.08);
}

.nails-box-main p {
    padding: 32px 0 16px 0;
    border-bottom: 1px solid rgba(48, 48, 48, 0.08);
    color: #303030;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0;
}

.nails-box-additionally{
    padding: 0 115px;
}

.nails-box-additionally p:first-child {
    cursor: default;
    margin-top: 48px;
    opacity: 0.5;
    border-bottom: none;
    padding-top: 0;
}

.nails-box-additionally p {
    color: #303030;
    font-size: 16px;
    padding: 32px 0 16px 0;
    border-bottom: 1px solid rgba(48, 48, 48, 0.08);
}

.services-chois {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.services-chois button {
    width: 874px;
    height: 60px;
    border-radius: 42px;
    border: #F97349 1px solid;
    background-color: #F9F9F9;
    font-size: 16px;
    color: #303030;
}
/* визаж */

.services-makeup-box {
    display: none; 
    flex-direction: column;
    height: 425px;
}

.makeup-box-main {
    padding: 0 115px;
    margin-top: 48px;
}

.makeup-box-main p:first-child {
    border-top: 1px rgba(48, 48, 48, 0.08) solid;
}

.makeup-box-main p {
    padding: 32px 0 16px 0;
    border-bottom: 1px solid rgba(48, 48, 48, 0.08);
    color: #303030;
    font-size: 16px;
    cursor: pointer;
}

/* перманентный макияж */

.services-permanent-box {
    display: none; 
    flex-direction: column;
    height: 422px;
}

.permanent-box-main {
    padding: 0 115px;
    margin-top: 48px;
}

.permanent-box-main p:first-child {
    border-top: 1px rgba(48, 48, 48, 0.08) solid;
}

.permanent-box-main p {
    padding: 32px 0 16px 0;
    border-bottom: 1px solid rgba(48, 48, 48, 0.08);
    color: #303030;
    font-size: 16px;
    cursor: pointer;
}
/* брови */

.services-brows-box {
    display: none; 
    flex-direction: column;
    height: 494px;
}

.brows-box-main {
    padding: 0 115px;
    margin-top: 48px;
}

.brows-box-main p:first-child {
    border-top: 1px rgba(48, 48, 48, 0.08) solid;
}

.brows-box-main p {
    padding: 32px 0 16px 0;
    border-bottom: 1px solid rgba(48, 48, 48, 0.08);
    color: #303030;
    font-size: 16px;
    cursor: pointer;
}

/* ресницы */

.services-eyelashes-box {
    display: none; 
    flex-direction: column;
    height: 570px;
}

.eyelashes-box-main {
    padding: 0 115px;
    margin-top: 48px;
}

.eyelashes-box-main p:first-child {
    border-top: 1px rgba(48, 48, 48, 0.08) solid;
}

.eyelashes-box-main p {
    padding: 32px 0 16px 0;
    border-bottom: 1px solid rgba(48, 48, 48, 0.08);
    color: #303030;
    font-size: 16px;
    cursor: pointer;
}

/* сервис актив */
.services-nails-box.active {
    display: flex;
}
.services-makeup-box.active {
    display: flex;
}
.services-permanent-box.active {
    display: flex;
}
.services-brows-box.active {
    display: flex;
}
.services-eyelashes-box.active {
    display: flex;
}



/* лист */
.list {
    background-color: #F9F9F9;
    border: 1px solid #30303008;
}

.list-main {
    margin-left: 17px;
}

.list-main ul {
    display: flex;
    justify-content: center;
}

.list-main ul li {
    padding: 40px 5px;
    display: flex;
    position: relative;
    list-style-type: disc;
    font-family: "Manrope-Regular";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: #F97349;
    margin: 0px 16px;
    white-space: nowrap;
 
}

.list-main ul li::before {
    content: '';
    position: absolute;
    font-size: 24px;
    width: 14px;
    height: 14px;
    background-color: #F97349;
    border-radius: 10px;
    top: 50px;
    left: -21px;
  }


/* акции и предложения */

.offers {
    font-family: "Manrope-Regular";
    background-color: #F9F9F9;
    padding-top: 164px;
}

.stock-saloon {
    display: flex;
    width: 728px;
    height: 661px;
    flex-shrink: 0;
    background-color: #F97349;
    flex-direction: column;
   
    text-align: center;
    align-items: center;
}

.stock-saloon h3 {
    margin-top: 32px;
font-size: 24px;
line-height: normal;
text-transform: uppercase; 
color: #f9f0e9;
}

.stock-saloon p {
    margin-top: 16px;
    font-size: 16px;
    line-height: normal;
    text-transform: uppercase; 
    color: #f9f0e9;
}

.stock-saloon img {
    margin-top: 64px;
    width: 430px;
    height: 430px;
    flex-shrink: 0;
}

.stock-slider {
    text-align: center;
    display: flex;
    flex-direction: column;
    
    width: 728px;
    height: 661px;
    justify-content: center;
    align-items: center;
}

.carousel-item{
    background-color: #303030;
    display: block;
    width: 100%;
    height: 661px;
}

.carousel-main {
    
    height: 661px;
}

.carousel-main h3 {
font-size: 24px;
text-transform: uppercase;
color: #F97349;
margin-top: 261px;
}

.carousel-main p {
    margin-top: 48px;
    padding: 0 130px;
font-size: 16px;
color: #ffffff;
}

.offers-stock {
    margin-top: 48px;
    display: flex;
}

.offers h2 {
    font-family: "Anticva";
    font-size: 32px ;
    color: #303030;
    width: 557px;
    line-height: 38px;
    margin-left: 60px;
}

.slider-buttons {
    margin-top: 178px;
}

.carousel-indicators {
    margin-bottom: 64px !important;
}

.carousel-indicators button {
    padding: 0 5px !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 12px !important;
    border: none !important;
    background-color: #515758 !important;
    box-sizing: border-box !important;
    background-color: #484848 !important;
}

.carousel-indicators button.active {
    background-color: #F97349 !important;
}






/* map */
.map {
    padding: 164px 0;
    background-color: #F9F9F9;
}
.map-txt {
    display: flex;
    justify-content: space-between;
}
.map-main {
    padding-top: 48px;
    width: 1320px;
}
.map-txt h2 {
    offset: left;
    font-family: "Anticva";
    font-size: 32px;
    color: #303030;
    width: 518px;
    line-height: normal; 
}

.map-txt p {
    offset: right;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.50);
    width: 318px;
    line-height: normal; 
}

.map-main {
    border-radius: 42px;
}



/* footer */
footer {
    height: 500px;
    background-color: #303030;
}

@media (max-width: 768px) {

body {
    background-color:  #fff !important;
}    
.img-top, .img-left, .img-right {
    display: none;
}
.desctop {
    flex-direction: column;
}
.info-menu {
    float: left;
}
.info-txt {
    padding-left: 2rem;
}
.title {
    float: left;
}
.logo {
    margin-left: 2rem;
}
.title {
    width: 100%;
}
.title h1 {
    font-size: 96px;
    width: 100%;
}
.map-main {
    width: 100%;
}
.offers-stock {
    flex-direction: column;
}
.wrapper1440 {
    width: 100%;
}
.wrapper {
    width: 100%;
    max-width: 100%;
}
.list-main ul {
    flex-direction: column;
}
.form-txt {
    display: block;
}
.services, .finish, .record, .listUp {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.popup, .popup2, .popup3, .popup4, .popup5 {
    display: none !important;
}
.calendar {
    width: 100%;
    left: 0;
}
.form {
    background-color: #fff !important;
    position: static;
}
}